<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <title>PetClinic :: a .NET demonstration</title>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/petclinic.css">
    <base href="/" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
